@use "../foundation/general" as g;

.facility {
  width: 80%;
  margin: 0 auto;

  .inner {
    width: 100%;
    margin: 0 auto;
  }

  .fac-parent {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @include g.overTab {
      flex-flow: row wrap;
      gap: 0px;
    }
  }

  .fac-child {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    @include g.overTab {
      width: calc(100% / 3);
    }
  }

  .fac-child-img {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;

    &::after {
      display: block;
      content: "";
      width: 100%;
      height: 0;
      padding-top: 60%;
    }

    &>img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; // 縦横比を維持したまま要素のコンテンツ内を埋めるようサイズ調整
      object-position: center;

      &:hover {
        transform: scale(1.1, 1.1);
        transition-duration: 0.5s;
      }
    }
  }

  .fac-child-text {
    flex: 1;
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .basic-info {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(g.cl(green-4), 0.4);

    @include g.overTab {
      flex-flow: row wrap;
    }
  }

  .title-side {
    width: 70%;
    text-align: center;

    @include g.overTab {
      width: 20%;
      height: 100%;
    }
  }

  .title-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
  }

  .eng-title {
    padding: 2px 5px;
    // border: 1px solid g.cl(bluegreen);
    display: inline-block;

    @include g.overTab {}
  }

  .jpn-title {
    display: inline-block;
    padding: 2px 5px;
    // border: 1px solid g.cl(inspect-line);
  }

  .info-side {
    width: 80%;
    height: 100%;
  }

  .info-smallwrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 7px;

    @include g.overTab {
      flex-flow: row nowrap;
      justify-content: left;
      align-items: flex-start;
    }
  }

  .info-box {
    display: block;
    border: 1px solid g.cl(black);
    width: 150px;
    text-align: center;
    padding: 5px 10px;
    margin: 10px;
  }

  .info-cont {
    display: block;
    text-align: left;
    padding-left: 20px;
    padding-top: 5px;

    &:nth-child(2) {
      padding-top: 15px;
    }

    &:nth-child(6) {
      padding-top: 15px;
    }

    &:nth-child(8) {
      padding-top: 15px;
    }
  }

  .info-cont-list {
    width: 100%;
  }

  .info-detail {
    margin: 10px;

    &>p {
      text-align: left;
      padding-top: 5px;
    }
  }

  .facility-info {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(g.cl(orange-3), 0.6);

    @include g.overTab {
      flex-flow: row wrap;
    }
  }

  .amenity-info {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(g.cl(whitecream), 0.6);

    @include g.overTab {
      flex-flow: row wrap;
    }
  }

  .info-amenity-list {
    width: 100%;
    padding-right: 40px;

    li {
      padding-top: 5px;
      padding-bottom: 10px;
    }
  }

}