@use "../foundation/general" as g;

.room {
  width: 80%;
  margin: 0 auto;

  .inner {
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
  }

  .rooms {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: transparent;
  }

  .room-img {
    width: calc((100% / 2) - 10px);
    height: auto;
    position: relative;
    display: inline-block;

    &::after {
      display: block;
      content: "";
      width: 100%;
      height: 0;
      padding-top: 60%;
    }

    &>img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &>p {
      display: inline-block;
      white-space: nowrap;
      position: absolute;
      top: 90%;
      left: 60%;
      transform: translate(-50%, -50%);
      padding: 0;
      margin: 0;
      font-size: 30px;
      color: g.cl(white);
    }
  }

  .pay-wrapper {
    display: flex;
    flex-flow: row wrap;
    max-height: 700px;
  }

  .pay-left {
    width: 50%;
    height: 100%;
  }

  .pay-right {
    width: 50%;
    height: 100%;
  }

  .price {
    width: 100%;
    height: 100%;
    background-color: rgba(g.cl(green-4), 0.4);
    margin: 0 auto;
    padding: 10px 5px 18px;
  }

  .info-box {
    display: block;
    border: 1px solid g.cl(black);
    width: 150px;
    text-align: center;
    margin: 10px auto;
  }

  .info-cont {
    display: block;
    text-align: left;
    padding-left: 20px;
  }

  .price-info1 {
    text-align: center;
  }

  .price-info2 {
    display: inline-block;
    margin: 5px auto;
    text-align: left;
    padding-left: 30%;

    &>li {
      list-style-type: square !important;
    }
  }

  .price-info3 {
    text-align: center;
    padding-top: 12px;
  }

  .payment {
    width: 100%;
    height: 40%;
    background-color: rgba(g.cl(orange-3), 0.6);
    margin: 0 auto;
    padding: 10px 5px;
  }

  .pay-img {
    width: 100%;
    height: auto;
    margin: 0 auto;

    &>img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .cancel-policy {
    width: 100%;
    height: 50%;
    background-color: rgba(g.cl(whitecream), 0.6);
    margin: 0 auto;
    padding: 10px 5px 17px;
  }


}